*{margin:auto;} 
body{
  background-image: url(../src/test3.jpg);
}

header{ width: 100%; justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;}
  .divtexto{
  color: white;
  background-color: rgba(120, 120, 120, .8);
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  border-radius: 25px;
  padding: 10px;
  }

.splash{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color:#111144;
text-align: center;
color: white;
display: flex;
justify-content: center;
align-items: center; 
} 
 @keyframes fadeout{
  to{
    opacity: 0;
  }}
 @keyframes fadein{
    to{
      opacity:1;
    }
 }
.fadein{
  opacity: 0;
  animation: fadein 3s;
  animation-delay: 2s;
  animation-fill-mode:forwards;
}
.fadeout{
opacity: 1;
animation: fadeout 3s;
animation-delay: 2s;
animation-fill-mode:forwards;
}
